:root {
  --green: rgb(42, 252, 152);
  --blue: rgb(41, 121, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes float {
  from,
  to {
    transform: translateY(-0%);
  }

  50% {
    transform: translateY(-3%);
  }
}

@keyframes background-pan {
  from {
    background-position: 1000% center;
  }

  to {
    background-position: 0% center;
  }
}

@keyframes pulse {
  from,
  to {
    scale: 1;
  }

  50% {
    scale: 1.08;
  }
}

.hero-page {
  min-height: 100vh;
  background-color: black;
  margin: 0rem;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.line {
  display: flex;
  justify-content: space-between;
  width: 75vw;
}

.word {
  color: white;
  font-size: clamp(2rem, 8vw, 10rem);
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin: 0rem;
  text-transform: uppercase;
  transition: opacity 250ms ease;
  cursor: default;
}

a {
  text-decoration: none;
}

#text:has(.fancy:hover) .word:not(.fancy:hover) {
  opacity: 0.2;
}

.fancy {
  cursor: pointer;
}

.fancy span {
  display: inline-block;
}

.fancy > .outer {
  transition: transform 350ms ease;
}

.fancy:hover > .outer {
  transition-duration: 800ms;
}

.fancy:hover > .outer > .inner {
  animation: float 5s ease infinite;
}

.fancy:hover > .outer > .inner > .letter {
  background: linear-gradient(to right, var(--blue), var(--green), var(--blue));
  background-size: 1000%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: background-pan 150s linear infinite;
}

.fancy:hover > .outer:nth-child(1) {
  transform: translate(-80%, 60%) rotate(8deg);
}

.fancy:hover > .outer:nth-child(2) {
  transform: translate(-40%, 20%) rotate(4deg);
}

.fancy:hover > .outer:nth-child(3) {
  transform: translate(-10%, 60%) rotate(-6deg);
}

.fancy:hover > .outer:nth-child(4) {
  transform: translate(0%, 8%) rotate(-8deg);
}

.fancy:hover > .outer:nth-child(5) {
  transform: translate(0%, -20%) rotate(5deg);
}

.fancy:hover > .outer:nth-child(6) {
  transform: translate(0%, 20%) rotate(-3deg);
}

.fancy:hover > .outer:nth-child(7) {
  transform: translate(0%, -40%) rotate(-5deg);
}

.fancy:hover > .outer:nth-child(8) {
  transform: translate(0%, 15%) rotate(10deg);
}

.fancy:hover > .outer:nth-child(9) {
  transform: translate(0%, -50%) rotate(8deg);
}

.fancy:hover > .outer:nth-child(10) {
  transform: translate(0%, 15%) rotate(-6deg);
}

.fancy:hover > .outer:nth-child(11) {
  transform: translate(50%, -10%) rotate(-3deg);
}

.fancy:hover > .outer:nth-child(12) {
  transform: translate(120%, -30%) rotate(-10deg);
}

.portfolio {
  background-color: black;
  min-height: 100vh;
  width: 100%;
  color: #fff;
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.portfolio__title {
  font-weight: 500;
  padding-bottom: 40px;
  font-size: clamp(1rem, 6vw, 5rem);
  letter-spacing: 0.8rem;
  text-transform: uppercase;
  cursor: default;
}

.portfolio__title--multicolor {
  transition: color 0.6s;
}

.portfolio__cards {
  display: flex;
  gap: 4rem;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 40%;
  cursor: default;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.image__wrapper {
  border-radius: 1rem;
  overflow: hidden;
  border: 0.25rem solid rgb(255 255 255 / 15%);
}

.card__img {
  aspect-ratio: 3 / 2;
  cursor: pointer;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.card__img:hover {
  animation: pulse 1200ms ease-in-out;
}
